@media (hover: hover) {
    .delete-button:hover {
        color: red; /* Change to any color you need for the hover state */
        background-color: #000; /* Optional: change background on hover */
        cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
    }
}

.run-container {
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px); /* to push search bar up. 200px is for navbar and timeline.
} 