body, html, #root {
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
html {
    margin: 0;
    overflow: hidden;
    height: 100%
}
body {
    margin: 0;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 60px; /* Adjust based on your actual AppBar height */
}